* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    transition: width none;
}

a {
    text-decoration: none;
}

a:hover,
a:focus,
a:visited {
    text-decoration: none !important;
    outline: none !important;
}

.navbar-toggler:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.header.active {
    position: fixed;
    z-index: 100000000;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}

ul {
    list-style: none;
}

.header.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
}

.header {
    background-color: #fff;
}

.nav-link {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

.nav-link:hover {
    color: #0d569a;
}

.nav-link:hover .angleDown span:first-child,
.nav-link:hover .angleDown span:last-child {
    background-color: #0d569a;
}

.dropdown-toggle::after {
    display: none;
}

.angleDown {
    position: relative;
    top: 8px;
}

.angleDown span:first-child {
    background-color: #000;
    width: 6px;
    height: 1px;
    transform: rotate(45deg) translateY(-50%);
    display: inline-block;
    position: absolute;
    top: -8px;
    right: -15px;
}

.angleDown span:last-child {
    background-color: #000;
    width: 6px;
    height: 1px;
    transform: rotate(-45deg) translateY(-50%);
    display: inline-block;
    position: absolute;
    top: -8px;
    right: -20px;
}

.hero .carousel-item {
    min-height: 65vh;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.hero .carousel-item::before {
    content: '';
    background: rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

form select {
    padding-left: 10px !important;
}

.hreo .carousel-indicators [data-bs-target] {
    height: 30px !important;
}

.carousel-indicators [data-bs-target] {
    height: 8px !important;
    margin: 0 5px;
    background-color: #000;
    border: 1px solid transparent;
    border-radius: 50%;
    width: 8px !important;
    opacity: 1;
}

.carousel-indicators {
    margin-bottom: 40px;
}

.carousel-indicators .active {
    background-color: red;
    transform: scale(1.1);
    border: 1px solid #fff;
}

.carousel-control-prev {
    background: rgba(0, 0, 0, .8);
    width: 40px;
    height: 40px;
    top: 50% !important;
    left: 50px !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 1.2rem;
    height: 1.2rem;
}

.carousel-control-next {
    background: rgba(0, 0, 0, .8);
    width: 40px;
    height: 40px;
    top: 50% !important;
    right: 50px !important;
}

.hero .carousel-item .container {
    position: absolute;
    top: 30%;
    padding: 0 20px;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.hero .carousel-item .container h1 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 42px;
    margin-bottom: 20px;
}

.hero .carousel-item .container h3 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 20px;
}

.navbar-toggler {
    right: 0;
    border: 1px solid #000;
    padding: 6px 8px;
    top: 16px;
}

.navbar-toggler .fa {
    font-size: 22px;
}

.form {
    position: relative;
    top: -80px;
    z-index: 1;
}

.tablinks {
    padding: 8px 20px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.tablinks svg {
    width: 20px;
    margin-right: 5px;
}

.tab button.active {
    background-color: #0d569a;
    color: #fff;
}

.plane {
    transform: rotate(-50deg);
}

.form-check {
    margin-right: 20px;
}

form {
    background-color: #fff;
    border-top: 2px solid #eee;
    padding: 14px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.input {
    position: relative;
}

.input svg {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.form-label,
.form-check-label {
    font-size: 14px;
    font-weight: 600;
}

.form-control {
    border: 2px solid #eee;
    border-radius: 3px;
    height: 45px;
    padding-left: 35px;
}

.btn-primary:active:focus {
    box-shadow: none !important;
}

.btn-primary:focus {
    outline: none;
    border-color: #0d569a;
    box-shadow: none;
}

.search {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    background-color: #0d569a;
}

.form-control:focus {
    box-shadow: none;
    border-color: #0d569a;
}

.top {
    padding: 50px 0;
    background-color: #ededed;
}

.top .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.img-holder {
    position: relative;
}

.img-holder .des {
    position: absolute;
    padding: 8px;
    background-color: rgba(0, 0, 0, .4);
    bottom: 0;
    left: 0;
    width: 100%;
}

.img-holder .des span {
    font-size: 12px;
    color: #ccc;
}

.img-holder .des h3 {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0;
}

.img-holder img {
    width: 100%;
    max-height: 220px;
    height: 100%;
    border-radius: 5px;
}

.top .card .content {
    padding: 15px 10px 10px;
}

.top .card .content h5 {
    font-size: 15px;
    font-weight: 600;
    color: #777;
    font-family: 'Poppins', sans-serif;
}

.top .card .content p {
    font-size: 15px;
    font-weight: 500;
    color: #777;
    font-family: 'Poppins', sans-serif;
}

.top .card .content .btn {
    padding-top: 14px;
    width: 100%;
    border-top: 1px dashed #0d569a;
}

.top .card .content .btn button {
    border-radius: 3px;
    font-size: 14px;
}

.flight {
    margin: 10px 0 15px;
    position: relative;
}

.flight span {
    color: #0d569a;
    padding: 0 10px;
    display: inline-block;
}

.flight svg {
    top: 50%;
    position: absolute;
    width: 14px;
    height: 14px;
}

.popular {
    padding: 50px 0;
}

.heading {
    font-size: 28px;
    text-align: center;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 40px;
}

.popular .row {
    gap: 25px 0;
}

.popular .card {
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #eeeeee;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card .content {
    padding: 20px;
    flex: 1;
    text-align: center;
}

.card .content h4 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.card .content .place {
    margin: 14px 0 10px;
}

.card .content .place svg {
    width: 14px;
    height: 14px;
}

.card .content .place p {
    margin-bottom: 0;
    margin-left: 8px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #777;
}

.star {
    margin-bottom: 12px;
    color: #ffae00;
}

.img img {
    height: 100%;
    width: 100%;
}

.card .content button {
    background-color: #0d569a;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

@media screen and (max-width:1290px) {}

@media screen and (max-width:991px) {
    .hero .carousel-item .container h1 {
        font-size: 32px;
        line-height: 40px;
    }
    .heading {
        font-size: 24px;
    }
    .top .row {
        gap: 25px 0;
    }
}

@media screen and (max-width:768px) {
    .hero .carousel-item .container h1 {
        font-size: 32px;
        line-height: 40px;
    }
}

@media screen and (max-width:560px) {
    .hero .carousel-item .container h1 {
        font-size: 22px;
        margin-bottom: 0;
    }
    .heading {
        font-size: 22px;
    }
}

@media screen and (max-width:380px) {
    .popular .card .d-flex {
        flex-direction: column;
    }
}